[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nemsqar"]
	path = nemsqar
	url = https://github.com/bemts-hhs/nemsqar
[submodule "traumar"]
	path = traumar
	url = https://github.com/bemts-hhs/traumar
